
@{
    ViewData["Title"] = "AnaSayfa";
}

<h1>ANA SAYFA</h1>
<p>Blog kısmında view model kullanılarak blog details kısmında tuple kullanılarak birden fazla model gönderme işlemi yapıldı </p>
<p>Listelemeleri görmek için blog ve blog details kısmına bakabilirsiniz.</p>

